body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgba(194, 160, 213, 255);
    background-image: url(../images/flappybirdbg.png);
    overflow: hidden;
}